<h1>There was some trouble</h1>

<p>
	Errors:
	<%= @errors.inspect %>
</p>


<p>If you are a new member, sign up <a href="/signup">HERE</a></p>

<p>If you are an existing members, log in <a href="/login">HERE</a></p>
