<h1>Welcome back to Chat App!</h1>

<% if @messages %>
	<p>
		Messages:
		<%= @messages.inspect %>
	</p>
<% end %>

<h3>Login</h3>

<form method="POST" action="/login">
<p>
<label for="username">Username:</label>
<input type="text" name="username">
</p>

<p>
<label for="password">Password:</label>
<input type="text" name="password">
</p>

<p>
<input type="submit" value="submit">
</p>
